<section>
  <h2>Education</h2>
  {{ range . }}
  <div class="school">
    <div class="heading-line">
      <h3>{{ .name }} - {{ .location }}</h3>
      <h3>{{ .startdate }} - {{ if .enddate }}{{ .enddate }}{{ else }}Current{{ end }}</h3>
    </div>
    {{ range .degrees }}
    <p>
      <em>{{ . }}</em>
    </p>
    {{ end }}

    {{ range .thesis }}
    <p>
      <em>{{ . }}</em>
    </p>
    {{ end }}
    
    {{ range .awards }}
    <p>
      <em>{{ . }}</em>
    </p>
    {{ end }}
    <ul>
      {{ range .award_points }}
      <li>{{ . | markdownify }}</li>
      {{ end }}
    </ul>


    {{ range .activities }}
    <p>
      <em>{{ . }}</em>
    </p>
    {{ end }}
    <ul>
      {{ range .activity_points }}
      <li>{{ . | markdownify }}</li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</section>
